body
{
    position: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/background.jpg") ; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: relative;
}

header{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
   width: 100px;
   height: 100px;
   padding: auto;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a:active{
    background: #fff;
    color: #00a89e;
}

#title{
    padding: 100px;
    border: none;
    font-size: 40px;
}
  
h1 {
    color: #fff;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 30%;
    margin: 10px 0;
}

#result {
    margin-top: 20px;
}

.hero {
    background-color: rgba(224, 247, 250, 0.8);
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
}
  
.container h2 {
    font-size: 30px;
    color: #00796b;
}
  
.container input {
    padding: 10px;
    width: 300px;
    border: none;
}
  
.container button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00796b;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}

.container button:hover {
    background-color: #004d40;
}
  
.form-check {
    display: flex;
    flex-direction: column;
    gap: 1px; /* This will provide a consistent gap between the checkboxes */
}

.form-check input[type="checkbox"] {
    margin-right: 2px; /* Adjust the space between the checkbox and the label */
  }
  
label {
    display: inline-block;
    margin-left: 1px; /* Adjust margin if necessary */
    font-size: 15px;
    vertical-align: middle; /* Align checkbox with label text */
}

.sec{
    padding: 20px;
    margin: 20px;
    background-color: rgba(224, 247, 250, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
}
  
.sec h2 {
    color: #00796b;
}
 
.sec ul {
    list-style-type: square;
    padding-left: 20px;
}
  
.sec p, li {
    font-size: 16px;
}
  
.sec h2:hover {
    text-decoration: underline;
}


.members{
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;

}
.member{
    text-align: center;
    background-color: rgba(224, 247, 250, 0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 5px;
    color: black;
}
.member h3{
    color: #00796b;
}
.memImg{
    width: 150px;
    height: 150px;
    padding: auto;
    border: 4px solid whitesmoke;
    border-radius: 50%;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between icons */
    padding: 20px;
}
  
.social-icons img {
    width: 50px;
    height: 50px;
}
  
.social-icons a:hover img {
    opacity: 0.8; /* Slight opacity change on hover */
}