<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoEco</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body background="static/styles/images/BG.jpg">
    <header>
        <img src="static/styles/images/logo.png" class="logo">
        <ul>
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="{{ url_for('static',filename='styles/about.html') }}">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="team.html">Team</a></li>

        </ul>
    </header>

    <section id="title">
        <h1><u>Renewable</u><br><u>Energy Source Recommender</u></h1>
    </section>

    <section class="hero">
        <div class="container">
            <h2>Get Your Energy Source Today</h2>
            <form id="energyForm">
                <div class="form-group">
                    <input type="text" placeholder="Enter City Name" class="form-control" id="city" name="city" required>            </div>
                <div class="form-group">
                    <input type="number" placeholder="Enter Sunshine Hours" class="form-control" id="sunshine_hours" name="sunshine_hours" required>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="is_near_water" name="is_near_water">
                    <label class="form-check-label" for="is_near_water">Near Water Source</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="is_geothermal_region" name="is_geothermal_region">
                    <label class="form-check-label" for="is_geothermal_region">In Geothermal Region</label>
                </div>
                <button type="submit" class="btn btn-primary">Find It</button>
            </form>
    
    
            <div id="result"></div>
        </div>

    </section>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#energyForm').on('submit', function(event) {
                event.preventDefault();
                var formData = $(this).serialize();

                $.post('/predict', formData, function(data) {
                    $('#result').html('<h2>Predicted Energy Source: ' + data.energy_source + '</h2>');
                });
            });
        });
    </script>
    
</body>
</html>
