<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoEco-Team</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
  </head>
  <body>
    <header>
      <a href="/">
        <img src="images/logo.png" class="logo" alt="GoEco Logo" />
      </a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="#" class="active">Team</a></li>
      </ul>
    </header>

    <section id="team-title">
      <h1><u>Team Members:</u></h1>
    </section>

    <section class="members">
      <div id="member">
        <img src="images/tannu.jpeg" class="memImg" />
        <h3>Tannu Choudhary</h3>
        <p>MCA 1st Year @IGDTUW</p>
        <h4>Follow Us:</h4>
        <div id="social-icons">
          <a href="https://LinkedIn.com/in/tchoudhary1611" target="_blank">
            <img src="images/linkedIn.png" alt="LinkedIn" />
          </a>
          <a href="https://GitHub.com/tannuiscoding" target="_blank">
            <img src="images/gitHub.png" alt="gitHub" />
          </a>
          <a href="https://x.com/tannuiscoding" target="_blank">
            <img src="images/x.png" alt="X" />
          </a>
        </div>
      </div>

      <div id="member">
        <img src="images/mansi.jpeg" class="memImg" />
        <h3>Mansi</h3>
        <p>MCA 1st Year @IGDTUW</p>
        <h4>Follow Us:</h4>
        <div id="social-icons">
          <a
            href="https://www.linkedin.com/in/mansi-b4533b203/"
            target="_blank"
          >
            <img src="images/linkedIn.png" alt="LinkedIn" />
          </a>
          <a href="https://github.com/MansiJangid" target="_blank">
            <img src="images/gitHub.png" alt="gitHub" />
          </a>
        </div>
      </div>
      <div id="member">
        <img src="images/ritika.jpeg" class="memImg" />
        <h3>Ritika Sharma</h3>
        <p>MCA 1st Year @IGDTUW</p>
        <h4>Follow Us:</h4>
        <div id="social-icons">
          <a
            href="https://www.linkedin.com/in/ritika-sharma-075863184?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            target="_blank"
          >
            <img src="images/linkedIn.png" alt="LinkedIn" />
          </a>
          <a href="https://github.com/Ritika0077" target="_blank">
            <img src="images/gitHub.png" alt="gitHub" />
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
